<?php

declare(strict_types=1);

namespace {{APP_NAMESPACE}}\Shared\Application;

/**
 * Base Command
 *
 * Commands represent actions that can be performed in the system.
 * They are used to encapsulate business operations.
 */
abstract class Command
{
    // Base implementation for commands
}
