<VirtualHost *:80>
    ServerAdmin localhost@{{SUBNET_ALIAS}}
    DocumentRoot /var/www/html/public
    ServerName {{SUBNET_ALIAS}}
    ServerAlias www.{{SUBNET_ALIAS}}
	<Directory /var/www/html/public>
		AllowOverride all
		Require all granted
	</Directory>

	# Logging
	ErrorLog ${APACHE_LOG_DIR}/{{PROJECT_NAME}}_error.log
	CustomLog ${APACHE_LOG_DIR}/{{PROJECT_NAME}}_access.log combined
</VirtualHost>
